dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.class
.classpath
.project
.settings/
node_modules/
out/
.ensime_cache
*.vsix
*.log
clientutils.js
